<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>
<!-- 시큐리티는 x-www-form-url-encoded 타입만 인식 -->
<form action="/login" method="post">
	<input type="text" name="username" />
	<br />
	<input type="password" name="password" />
	<br />
	<button>로그인</button>
</form>
<br />
<a href="/joinForm">회원가입</a>
<br />
<!-- 이 url도 고정되어 있는것이다. 맘대로 못바꿈 -->
<a href="/oauth2/authorization/google">구글 로그인</a>
<br />
<a href="/oauth2/authorization/naver">네이버 로그인</a>
<br />
</body>
</html> 